*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

html{
    scroll-behavior: smooth;
}

.section1{
    width: 100%;
}

.logo{
    height: 11vh;
    width: auto;
    padding-left: 5vw;
}

nav{
    background: #3C3C3E;
    position: fixed;
    display: flex;
    width: 100vw;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between;
    z-index: 10;
    transition: top 0.3s;
}

nav ul{
  margin-right: 5vw;
  margin-left: 10vw;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav ul li a{
    font-size: 130%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: #9999cc;
}


.photo{
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/maintemp.jpg);
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.main{
    margin-left: 20%;
    margin-top: 15%;
}

.main h1{
    font-size: 55px;
    color: #fff;
    margin-bottom: 20px;
}

span{
    color: #9999cc;
}

.main p{
    color: #c9c9c9;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
}

.typing {
    overflow: hidden;
    animation: typing 6s steps(50, end), blink 1s step-end infinite;
    animation-iteration-count: infinite;
    white-space: nowrap;
    font-size: 50%;
    border-right: 4px solid transparent;
    box-sizing: border-box;
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: transparent;
    }
  }

  .section2{
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    background-color: #171719;
  }

  .section2 h2{
    font-size: 40px;
    color: #9999cc;
    margin-bottom: 20px;
}

.section2 p{
    font-size: 25px;
    color: #fff;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.links{
    padding-top: 75px;
}

.links a{
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color: #9999cc;
}

.links a:hover{
    font-size: 26px;
    text-decoration:underline;
    cursor: pointer;
    color: #fff;
}

.section3{
    padding-top: 20vh;
    padding-bottom: 10vh;
    background-color: #000;    
}

.section3 h2{
    font-size: 40px;
    color: #9999cc;
    margin-bottom: 20px;
    text-align: center;
}

.section3 p{
    font-size: 25px;
    color: #fff;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 150px;
    text-align: center;
}

.section3 h3{
    color:#9999cc;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.triage{
  padding-left:12vw;
  width:80vw;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.triage ul li{
  list-style-type: disc;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  margin-bottom: 5px;
  color:#fff;
  font-size: 20px;
}

.triage a{
  color:#a3edff;
}

.triage img{
  width:28vw;
  padding-left: 5vw;
}

.artwork-insight{
  padding-left:12vw;
  width:80vw;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.artwork-insight ul li{
  list-style-type: disc;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  margin-bottom: 5px;
  color:#fff;
  font-size: 20px;
}

.artwork-insight a{
  color:#a3edff;
}

.artwork-insight img{
  width:28vw;
  padding-left: 5vw;
}

.flyng{
  padding-left:12vw;
  width:80vw;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.flyng ul li{
  list-style-type: disc;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  margin-bottom: 5px;
  color:#fff;
  font-size: 20px;
}

.flyng a{
  color:#a3edff;
}

.flyng img{
  width:28vw;
  padding-left: 5vw;
}

.ClinicChatBot{
  padding-left:12vw;
  width:80vw;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.ClinicChatBot ul li{
  list-style-type: disc;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  margin-bottom: 5px;
  color:#fff;
  font-size: 20px;
}

.ClinicChatBot a{
  color:#a3edff;
}

.ClinicChatBot img{
  width:18vw;
  padding-left: 5vw;
}

.pathway{
    padding-left:12vw;
    width:80vw;
    display: flex;
    align-items: left;
    padding-bottom: 200px;
}

.pathway ul li{
    list-style-type: disc;
    text-align: left;
    padding-left: 0;
    margin-left: 2vw;
    margin-bottom: 5px;
    color:#fff;
    font-size: 20px;
}

.pathway a{
    color:#a3edff;
}

.pathway img{
    width:20vw;
    padding-left: 8vw;
}

.cipherbot{
    padding-left:12vw;
    width:80vw;
    display: flex;
    align-items: center;
    padding-bottom: 200px;
}

.cipherbot ul li{
    list-style-type: disc;
    text-align: left;
    padding-left: 0;
    margin-left: 2vw;
    margin-bottom: 5px;
    color:#fff;
    font-size: 20px;
}

.cipherbot a{
    color:#a3edff;
}

.cipherbot img{
    width:20vw;
    padding-left: 5vw;
}

.lavablock{
  padding-left:12vw;
  width:80vw;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.lavablock ul li{
  list-style-type: disc;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  margin-bottom: 5px;
  color:#fff;
  font-size: 20px;
}

.lavablock a{
  color:#a3edff;
}

.lavablock img{
  width:20vw;
  padding-left: 5vw;
}

.section4{
    padding-top: 10vh;
    padding-bottom: 20vh;
    background-color: #171719;
    padding-left: 15vw;
}

.section4 h2{
    font-size: 35px;
    color: #9999cc;
    margin-bottom: 10px;
}

.section4 h3{
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
}

.phone{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.section4 a{
    font-size: 20px;
    color: #a3edff;
    margin-bottom: 20px;
    
}

.section4 ul li{
    display: inline-block;
    list-style: none;
    margin-right: 150px;
}

.last{
    color: #c9c9c9;
    padding-top: 40px;
    font-size: 12px;
    text-align: left;
    padding-left: 0vw;
}